:host {
    app-environment-card{
        display: block;
        margin-bottom: 10px;
    }
    .environment-list-sidenav-content{
        padding: 30px;
    }

    .environment-list-container{
        height: 100%;
    }
}
