
<mat-drawer-container class="script-list-container" autosize>
    <div class="script-card-container">
        <mat-card matRipple class="script-card" *ngFor="let script of scripts" (click)="onClickScriptCard(script)">
            <mat-card-header>
                <mat-card-title>{{script.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{script.description}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <mat-drawer #scriptDrawer class="script-list-sidenav" mode="side" position="end">
        <app-script-details [script]="selectedScript"></app-script-details>
    </mat-drawer>

</mat-drawer-container>