@import "../variables.scss";

:host{
  .main{
    height: 100%;
    display: block;
  }
  .router-outlet{
    display: inherit;
    height: calc(100% - 48px);
  }
  .logo-container{
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 48px;
    width: 48px;
    img{
      height:36px; 
      width: 36px; 
    }
  }

}